/* .silder {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.sildes {
    width: 500%;
    height: 300px;
    display: flex;
}

.sildes input {
    display: none;
}
.silde {
    width: 20%;
    transition: 1s;
}
.silde image {
    width: 100%;
    height: 100%;
}
.navigation-manual {
    width: 100%;
    margin-top: -3%;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 5px solid rgb(255, 3, 3);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
    background-color: #fff;
}
.manual-btn:hover {
    background: #c68c53;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    width: 50%;
    margin-top: 18%;
    display: flex;
    justify-content: center;
}
.navigation-auto div {
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #c68c53;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #c68c53;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #c68c53;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #c68c53;
}
@media screen and (min-width: 600px) {
    .silder {
        width: 100%;
        height: 350px;
        border-radius: 10px;
        overflow: hidden;
    }
    .sildes {
        width: 500%;
        height: 300px;
        display: flex;
    }
} */
* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
